*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: url("../file/music\ -wallpaper.jpg");
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
.container {
    height: 95vh;
    width: 90%;
    background: rgba( 255, 255, 255, 0.15 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

.title {
    margin: 0.5% 0 1% 0;
    font-family: monospace;
    font-size: 40px;
}

.searcher {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    padding: 1.5vh 2vh;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    width: 30%;
    margin-left: 10px;
}
.finder {
    padding: 10px;
    width: 2%;
    height: 3vh;
    font-size: 20px;
    background: #ff0000;
    margin-left: 1%;
    border-radius: 10px;
    transition:0.5s;
}
.finder:hover {
    color: #fff;
}
.display {
    height: 70vh;
    margin-top: 1%;
    width: 60%;
    position: absolute;
    left: 20%;
    text-align: center;
    background: rgba( 0, 0, 0, 0.25 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow-y: scroll;
    padding: 20px;
    color: #fff;
}
.text {
    line-height: 30px;
}


@media(max-width:700px) {
    input {
        padding: 5px 5px;
        width: 40%;
        margin-left: 2%;
        border: none;
        border-radius: 5px;
    }

    .finder {
        background: none;
        margin: none;
        margin-left: 0.5%;
    }

    .display {
        width: 80%;
        left: 10px;
        margin-top: 5%;
    }
}
